
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.repo-header {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  background-color: rgb(63, 81, 181);
  color: rgb(255, 255, 255);
  padding: 1.3rem;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  padding: 1rem 1rem;
  margin: 0.3rem 0.2rem;
  border-radius: 3px;
  box-shadow: 1px 3px #d6d1d1;
}

.card a {
  text-decoration: none;
  cursor: pointer;
}

.repo-titles {
  width: 10rem;
}

td {
  padding: 0.2rem 1rem;
}

tr > :first-child {
  font-weight: bolder;
  vertical-align: top;
}

tr > :nth-child(2) {
  vertical-align: top;
}

img {
  width: 50px;
}

.card-contributor a {
  flex: 1;
  padding-left: 1rem;
}

.num-contribution {
  padding: 0.5rem 0.7rem;
  background: rgb(169, 169, 169);
  color: white;
  border-radius: 5px;
}

footer {
  background: rgb(63, 81, 181);
  color: white;
  padding: 1.3rem;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (min-width: 501px) and (max-width: 768px) {
main {
  margin: 0 10%;
}

.repo-contributors {
  margin-left: 25%; /*To get it just the same as seen in the demo*/
}
}

@media (min-width: 769px) {

main {
  margin: 0 15%;
}

.repo-info {
  width: calc(50% - 2px);
  display: inline-table;
}

.repo-contributors {
  width: calc(50% - 2px);
  display: inline-table;
}

td {
  font-size: 1.75vmax;
  padding-left: 0.5rem;
}
}

